@{
    
    Layout = "~/Views/Shared/layout.cshtml";
}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

        .table th,
        .table td {
            padding: 8px;
            text-align: left;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
        }
</style>

@model List<ZeroHunger.Models.RequestDTO>

@if (Model != null)
{
    <h3>Restaurant Data</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Restaurant Name</th>
                <th scope="col">Request Time</th>
                <th scope="col">Max Preservation Time</th>
                <th scope="col">Food Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Address</th>
                <th>Assigned Employee</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.restaurant_name</td>
                    <td>@item.request_time</td>
                    <td>@item.maxPreservation_time</td>
                    <td>@item.food_item</td>
                    <td>@item.Quantity</td>
                    <td>@item.address</td>
                    <td>@request.assignedEmployee</td>
                </tr>
            }
        </tbody>
    </table>
}
